<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OnlineNewpaper</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoUpload</servlet-name>
    <url-pattern>/DoUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePostAdmin</servlet-name>
    <url-pattern>/DeletePostAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostPublish</servlet-name>
    <url-pattern>/PostPublish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetImage</servlet-name>
    <url-pattern>/GetImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPost</servlet-name>
    <url-pattern>/EditPost</url-pattern>
  </servlet-mapping>
</web-app>